body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: darkgray;
}

.app_wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: auto  1fr;
  grid-template-areas:
     "h h"
     "n m";
  grid-gap: 0.4rem;
}

.app_wrapper_content {
  background-color: #002650;
  grid-area: m;
  border: 1px solid darkgray;
  border-radius: 8px;
  padding: 6px;
  box-shadow: 1px 5px 5px 0 darkgray;
  color: darkgray;
}

.app_wrapper_content img {
  width: 100%;
}












